Obviously Regular

    font-family: "obviously", sans-serif;
    font-weight: 400;
    font-style: normal;

Obviously Italic

    font-family: "obviously", sans-serif;
    font-weight: 400;
    font-style: italic;

Obviously Bold

    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;

Obviously Bold Italic

    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: italic;

Obviously Compressed

    font-family: "obviously-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;

Obviously Compressed Italic

    font-family: "obviously-compressed", sans-serif;
    font-weight: 400;
    font-style: italic;

Obviously Compressed Bold

    font-family: "obviously-compressed", sans-serif;
    font-weight: 700;
    font-style: normal;

Obviously Compressed Bold Italic

    font-family: "obviously-compressed", sans-serif;
    font-weight: 700;
    font-style: italic;

Obviously Condensed

    font-family: "obviously-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;

Obviously Condensed Italic

    font-family: "obviously-condensed", sans-serif;
    font-weight: 400;
    font-style: italic;

Obviously Condensed Bold

    font-family: "obviously-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;

Obviously Condensed Bold Italic

    font-family: "obviously-condensed", sans-serif;
    font-weight: 700;
    font-style: italic;

Obviously Narrow

    font-family: "obviously-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;

Obviously Narrow Italic

    font-family: "obviously-narrow", sans-serif;
    font-weight: 400;
    font-style: italic;

Obviously Narrow Bold

    font-family: "obviously-narrow", sans-serif;
    font-weight: 700;
    font-style: normal;

Obviously Narrow Bold Italic

    font-family: "obviously-narrow", sans-serif;
    font-weight: 700;
    font-style: italic;

Obviously Wide

    font-family: "obviously-wide", sans-serif;
    font-weight: 400;
    font-style: normal;

Obviously Wide Italic

    font-family: "obviously-wide", sans-serif;
    font-weight: 400;
    font-style: italic;

Obviously Wide Bold

    font-family: "obviously-wide", sans-serif;
    font-weight: 700;
    font-style: normal;

Obviously Wide Bold Italic

    font-family: "obviously-wide", sans-serif;
    font-weight: 700;
    font-style: italic;

Obviously Extended

    font-family: "obviously-extended", sans-serif;
    font-weight: 400;
    font-style: normal;

Obviously Extended Italic

    font-family: "obviously-extended", sans-serif;
    font-weight: 400;
    font-style: italic;

Obviously Extended Bold

    font-family: "obviously-extended", sans-serif;
    font-weight: 700;
    font-style: normal;

Obviously Extended Bold Italic

    font-family: "obviously-extended", sans-serif;
    font-weight: 700;
    font-style: italic;